/* 

 .bg-img-1 {

    background-image: url(assets/images/image1.jpg)

}

.bg-img-2 {

    background-image: url(assets/images/image2.jpg)
}

.bg-img-3 {

    background-image: url(assets/images/image3.jpg)

} 


.carousel.image {

    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.container-fluid {


    display: flex;
    flex-direction: row;
} */

/* .container-fluid img {

    width: 200px;
    height: auto;
    background-color: rgb(35, 137, 137);
    color: aqua;
} */



/* carousel part */

.card-body {

    background-color: #f5f1f0;

}

.container-fluid {

    background-color: rgb(228, 238, 238);


}



span .tagPrice {

background-color: red;
width: 100%;

}

.card title h5  {

    font-size: small;


}

.row {

    width: 100%;
    height: 25%;
    padding: 0px 20px 0px 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap
}


 
 @import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Noto+Sans+JP:wght@300display=swap');



body {

    font-family: Arial, 'Noto Sans JP', sans-serif;
    background: linear-gradient();
    background-attachment: fixed;
    background-image: url(assets/images/background-image1.jpg);
    background-repeat: no-repeat; 
    background-size: cover; background-position: center; 
    height: 100vh;
} 



.c-item {


    height: 420px;

}

.c-item img {


    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);

}

/* hover section  card */

.card {
    transition: all 0.3s;


}

.card:hover {
    transform: scale(1.15);


}

.card {

    display: block;
    justify-content: space-between;
    padding: 20px;



}


.button {
    transition: all 0.3s;


}

.img {
    transform: scale(1.15);


}



@media (max-width:600px) {

    .row {

        flex-direction: column;
        width: 100%;

    }
    
}