 @import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Noto+Sans+JP:wght@300display=swap');



/* carousel part */

.card-body {

    background-color: #f5f1f0;
    font-family: Arial, 'NOTO Sans JP', sans-serif;

}

.container-fluid {

    background-color: rgb(228, 238, 238);
    font-family: Arial, 'NOTO Sans JP', sans-serif;

}

.body {

    background-color: rgb(228, 238, 238);
    font-family: Arial, 'NOTO Sans JP', sans-serif;

}


span .tagPrice {

background-color: red;
width: 100%;

}

.row {

    width: 100%;
    height: 25%;
    padding: 0px 20px 0px 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap
}




body {

    font-family: Arial, 'Noto Sans JP', sans-serif;
    background: linear-gradient();
    /* background-attachment: fixed;
    background-image: url(assets/images/background-image1.jpg);
    background-repeat: no-repeat; 
    background-size: cover; background-position: center;  */
    height: 100vh;
} 



.c-item {


    height: 420px;

}

.c-item img {


    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);

}

/* hover section  card */

.card {
    transition: all 0.3s;


}

.card:hover {
    transform: scale(1.15);


} 

.card {

    display: block;
    justify-content: space-between;
    padding: 20px;



}


.button {
    transition: all 0.3s;


}

.img {
    transform: scale(1.15);


}



.img-container {


    position: relative;

}

.image {

    transition: .5s ease;
    backface-visibility:hidden;


}

.overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.img-container:hover .image {

    opacity: 0.2;

}

img.img-container:hover .overlay {

    opacity: 1;
}




@media (max-width:608px) {

    .row {

        flex-direction: column;
        width: 100%;

    }
    
}